section{
	position: relative;
    padding: 0 10px;
    background-color: #f6f6f6;
    overflow: hidden;
    margin-bottom: 25px;
    font-size: 14px;
}

section .title{
	border-left: 5px solid #ff6633;
	padding-left: 5px;
    color: #333;
}

section::after{
    position: absolute;
    top: 5px;
    right: -29px;
    width: 110px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    content: 'container';
    background-color: #234354;
    color: #fff;
    transform: rotate(45deg);
    transform-origin: center;
}

section.item-property::after{
	content: 'item';
}

.demo-group{
    display: flex;
    flex-wrap: wrap;
}

.demo{
	width: 500px;
	padding: 10px;
	display: inline-block;
	box-shadow: 2px 2px 3px 1px #eee;
	background-color: #fff;
    margin-right: 10px;
    margin-bottom: 15px;
    color: #666;
}
.desc{
    margin: 10px 0;
    font-size: 14px;
}

.container{
	display: flex;
	display: -webkit-flex;
	text-align: center;
	background-color: #eee;
    height: 80px;
	line-height: 30px;
}

.container-inline{
	display: inline-flex;
	display: -webkit-inline-flex;
}

.container .item{
   width: 200px;
   height: 30px;
   line-height: 30px;
   background-color: #eee;
   color: #fff;
   font-size: 12px;
}

.container .item:nth-child(6n+1){
	background-color: #BB4444;
}

.container .item:nth-child(6n+2){
	background-color: #A2945E;
}

.container .item:nth-child(6n+3){
	background-color: #875EA2;
}

.container .item:nth-child(6n+4){
	background-color: #EE3D11;
}

.container .item:nth-child(6n+5){
	background-color: #FFCC00;
}

.container .item:nth-child(6n){
	background-color: #0000FF;
}

.container .width-sm{
	width: 60px;
}

.container .height-sm{
	height: 15px;
}

.red{
	color: #ff6633;
}
